@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@media screen and (max-width:1080px){
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body, html {
    height: 100%;
  }
  
body{
    background-image: url(/image/bg_signup.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}

.image img{
    width: 620px;
    height: 630px;
}

.title{
    text-align: center;
    margin-top: -100px;
}
.title h1{
    font-size: 70px;
    color: #000;
}

.info h2{
    font-size: 35px;
    text-align: center;
    margin-left: 340px;
    color: #ff1494;
}

.dropdown-con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7em;
}

.dropdown {
    min-width: 30em;
    position: relative;
    margin: 2em;
    margin-top: 1em;
}

.dropdown *{
    box-sizing: border-box;
}

.select{
    background: #bebcc6c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #bebcc6c2 solid;
    border-radius: 3em;
    width: 45vh;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}


.caret{
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 21px solid #000;
    transition: 0.3s;
}


.text .b1{
    margin-left: 470px;
}
.text .b2{
    margin-left: 400px;
}


.text{
    font-size: 45px;
}

.title{
    font-size: 50px;
    color: #676767;
    margin-top: -100px;
}

.head-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #676767;
    margin-top: 2em;
}

.month,.hours{
    text-align: center;
    margin-right: 2.5em;
    border:none;
    border-bottom: #ff1494 solid 3px;
    width: 24em;
    height: 6.2em;
}

.hours{
    color: #a90a73;
    font-weight: bolder;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}
.btn{
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    font-weight: bold;
    background: #ff1494;
    width: 490px;
    border: #ff1494 solid 1px;
    border-radius: 50px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn a{
    color: #fff;
}
}

